body {
  background: url('/assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: $primary-font;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 1024px;
  margin: 60px;
}
