body {
  font-family: $primary-font;
  -webkit-font-smoothing: subpixel-antialiased;
  background: url('/assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: ease-in-out 2s;

  &.red {
    background: $red-overlay;
    transition: ease-in-out 2s;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.428571429;
  margin: 0;
  padding: 0;
}

label {
  display: inline;
  color: $dark-gray;
  position: absolute;
  margin-left: 5px;
  font-size: .8em;
}

input {
  height: 36px;
  border: 0;
  background: $light-gray;
  font-size: .8em;
  color: $dark-gray;
  border-bottom: 2px solid $light-gray;
  margin: 20px 5px 0;
  transition: ease-in-out .1s;
}

input:focus {
  outline: none;
  border-bottom: 2px solid $primary-color;
  transition: ease-in-out .1s;
}

.btn {
  background: $primary-color;
  color: $white;
  padding: 8px 30px;
  height: 42px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: .15px;
  font-size: .8em;
  transition: ease-in-out .2s;
  box-shadow: none;

  &:hover {
    box-shadow: 2px 3px 5px transparentize($black, .7);
    transition: ease-in-out .3s;
    background: darken($primary-color, 5%);
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.chart {
  transition: ease-in-out .2s;
  width: 100%;
  min-width: 600px;
  max-width: 700px;
  max-height: 400px;
  height: 300px;
  padding: 10px 0;
}

.p-toastr {
  font-family: $primary-font;
  background: $dark-gray;
  border-radius: none;
  transition: ease-in-out .2s;
  padding: 25px;
  border-left: 4px solid $primary-color;

  .toast-title {
    font-weight: 500;
    font-size: 1.1em;
    color: lighten($blue, 30%);
    padding: 5px 0;
  }

  .toast-message {
    text-transform: uppercase;
    font-size: .75em;
    color: $gray;
  }

  &:hover {
    box-shadow: none;
  }

  &-error {
    border-left: 4px solid $red;
  }

  &-success {
    border-left: 4px solid $green;
  }

}

.hide-lg {
  display: none;
}

@media (max-width: 768px) {

  .wrapper {
    align-items: baseline;
    position: relative;
  }

  .content {
    min-width: 0;
  }

  .hide-sm {
    display: none;
  }

  .hide-lg {
    display: block;
  }

  .chart {
    width: 100%;
    max-width: 100%;
    min-width: 30px;
  }
}
