$blue:				  #217095;
$dark-blue:			#0c3048;
$red:				    #b7352a;
$green:				  #61bb3d;

$white:				  #fff;
$light-gray:		#f2f2f2;
$gray:				  #cfd7de;
$dark-gray:     #3E414E;
$darker-gray:   #272C3D;
$black:         #000;

$primary-color: #ff7878;

$red-overlay:   rgba(#FB1700, .45);


$primary-font:  'Proxima Nova', 'Arial', sans-serif;
$box-shadow:    rgba(#000, .15);
