
.sidebar-wrapper {
  height: 100%;
  min-height: 400px;
  width: 300px;
  background: $darker-gray;
  transition: all .5s ease;
  float: left;
  padding: 20px 0;

  .sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
    }

    a {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      display: block;
      padding: 8px 30px;

      &:hover,
      &:active,
      &:focus {
        color: $primary-color;
        text-decoration: none;
        background: lighten($darker-gray, 5%);
      }
    }

    .sidebar-brand {
      padding: 0 0 20px 30px;

      .logo {
        text-transform: uppercase;
        color: transparentize($primary-color, .2);
        letter-spacing: 2px;
        font-size: .7em;
      }
    }
  }
}
