.wrapper {
  padding-left: 0;
  transition: all .5s ease;

  .sidebar-wrapper {
    width: 0;
    z-index: 1000;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: transparentize($black, .9);
    transition: all .5s ease;
  }

  .logo {
    display: inline-block;
    position: relative;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }

  .toggled {
    padding-left: 250px;

    .page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }

    .sidebar-wrapper {
      width: 0;
    }
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      line-height: 40px;

      a {
        display: block;
        text-decoration: none;
        color: $light-gray;

        &:active,
        &:focus {
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;

    a {
      color: $light-gray;

      &:hover {
        color: $white;
        background: none;
      }
    }
  }
}

@media(min-width:768px) {
  .wrapper {
    padding-left: 250px;

    &.toggled {
      padding-left: 0;

      .sidebar-wrapper {
        width: 0;
      }

      .page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }

    .sidebar-wrapper {
      width: 250px;
    }

    .page-content-wrapper {
      padding: 20px;
      position: relative;
    }
  }
}
